@import '../../vars';

.Order {
  position: relative;

  &__content {
    margin-top: 90px;
    max-width: 685px;
  }

  &__desc {
    color: $whiteColor;
    font-size: 29px;
  }

  &__moreInfo {
    margin-top: 25px;
    color: $sectionDarkText;
    font-size: 16px;

    span {
      color: $redTextColor;
    }
  }

  &__form {
    width: 540px;
    margin-top: 42px;
  }

  &__input {
    margin-top: 20px;
  }

  &__btnWr {
    margin-top: 60px;
  }

  // Checkbox
  &__checkbox {
    margin-top: 70px;
  }

  // Contact part
  &__contactsWr {
    position: relative;
    margin-top: 70px;
  }
}