// Fonts
$openSansFont: 'OpenSans', sans-serif;
$rubikFont: 'Rubik', sans-serif;
$ttNormsFont: 'TTNorms', sans-serif;

// Colors
$blackColor: rgb(0, 0, 0);
$whiteColor: rgb(255, 255, 255);
$redBgColor: rgb(222, 43, 43);
$redTextColor: rgb(221, 40, 40);
$headerBg: rgb(31, 33, 42);