// Fonts
$openSansFont: 'OpenSans', sans-serif;
$rubikFont: 'Rubik', sans-serif;
$ttNormsFont: 'TTNorms', sans-serif;

// Colors
$blackColor: rgb(0, 0, 0);
$whiteColor: rgb(255, 255, 255);
$redBgColor: rgb(222, 43, 43);
$redTextColor: rgb(222, 43, 43);
$headerBg: rgb(31, 33, 42);
$socialBg: rgb(31, 33, 42);
$sectionLightBg: rgb(249, 249, 251);
$sectionDarkBg: rgb(31, 33, 42);
$sectionDarkText: rgb(188, 188, 188);
$sectionTitleBlack: rgb(31, 33, 42);
$sectionTitleWhite: rgb(255, 255, 255);
$grayTextColor: rgb(120, 120, 120);

// Play button variables
$playBtnSize: 100px;
$triangleWidth: 14px;
$triangleHeight: 16px;
$bgColor: rgb(31, 33, 42);
$defaultPlayColor: rgb(249, 249, 251);
$defaultTriangleColor: rgb(222, 43, 43);