@import './fonts';
@import './vars';
@import './swiper.min';

// !********************!
// General Rules
// !********************!
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $openSansFont;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: $rubikFont;
  font-weight: 500;
}

p {
  font-family: $openSansFont;
}

section {
  background-color: $sectionLightBg;
  padding: 150px 0;

  &.dark-section {
    background-color: $sectionDarkBg;
  }
}

// Inputs
.input {
  &__wr {
    position: relative;
    height: 70px;

    // for textarea
    &.input__textareaWr {
      height: 75px;
    }

    &.inFocus {
      .input__placeholder {
        transform: translateY(-20px) scale(.6);
        transform-origin: left;
        color: $redTextColor;
      }

      .input__icon svg path {
        fill: $redTextColor;
      }
    }
  }

  &__input {
    width: calc(100% - 80px);
    height: 100%;
    border-radius: 40px;
    outline: none;
    border: none;
    padding: 0;
    padding-left: 80px;
    font: 19px $openSansFont;
    color: $sectionTitleBlack;

    &.input__textarea {
      resize: none;
      padding-top: 25px;
    }
  }

  &__placeholder {
    position: absolute;
    top: 22px;
    left: 80px;
    font: 19px $openSansFont;
    color: rgba($sectionTitleBlack, .7);
    transition: scale .3s ease .3s, color .3s ease, transform .3s ease;
    transform-origin: left;

    span {
      color: $redTextColor;
    }
  }

  &__icon {
    width: 32px;
    position: absolute;
    top: 0;
    height: 100%;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.input__textareaIcon {
      align-items: flex-start;

      svg {
        margin-top: 25px;
      }
    }

    svg path {
      transition:  .3s ease;
    }
  }

  // Checkbox
  &__checkboxBlock {
    display: flex;
    position: relative;
    align-items: center;

    &:hover {
      cursor: pointer;
      
      .input__ckeckbox {
        cursor: pointer;
      }

      .input__pseudoInput:before {
        border-color: $whiteColor;
      }

      .input__checkboxText {
        color: $whiteColor;
        cursor: pointer;
      }
    }
  }

  &__ckeckboxWr {
    position: relative;
    width: 26px;
    height: 26px;
  }

  &__ckeckbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    margin: 0;
  }

  &__pseudoInput {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    border-radius: 8px;
    transition: .3s ease;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 2px solid rgba($whiteColor, .7);
      border-radius: 8px;
      transition: .3s ease;
    }
  }

  // Check
  &__pseudoChecked {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0, 0);
    transition: .3s ease;

    &:before, &:after {
      position: absolute;
      content: '';
      background-color: $whiteColor;
    }

    &:before {
      height: 2px;
      width: 7px;
      left: 5px;
      top: 14px;
      transform: rotate(45deg);
    }

    &:after {
      height: 2px;
      width: 13px;
      left: 8px;
      top: 12px;
      transform: rotate(-45deg);
    }
  }

  // If checked
  &__ckeckbox[type=checkbox]:checked {
    + .input__pseudoInput {
      background-color: $redBgColor;

      &:before {
        border-color: $redBgColor;
      }

      .input__pseudoChecked {
        transform: scale(1, 1);
      }
    }
  }

  // text
  &__checkboxText {
    margin-left: 18px;
    font-size: 19px;
    color: rgba($whiteColor, .5);
    transition: .3s ease;
  }
}