@import './fonts';
@import './vars';

// !********************!
// General Rules
// !********************!
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $openSansFont;
}

button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: $rubikFont;
  font-weight: 500;
}

p {
  font-family: $openSansFont;
}